/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work sans", serif;
  /* font-family: "Poppins", serif; */
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  background-color: #fbeaeb;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  color: #1b1b1b;
  cursor: none !important;
}
h1,
h2,
h3 {
  font-family: "Young Serif", serif;
}
h4,
h5,
h6 {
  letter-spacing: -4%;
}

@media (max-width: 767px) {
  .cursor-dot {
    display: none;
  }
  .cursor-outline {
    display: none;
  }
}

/* cursor styling */
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #2f3c7e;
}

.cursor-outline {
  width: 25px;
  height: 25px;
  border: 2px solid #2f3c7e2c;
  box-shadow: rgba(47, 60, 126, 0.4) 0px 40px 90px 30px;
  transform: translate(-50%, -50%);
  transition: all 0.7s ease-out;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1100;
  pointer-events: none;
}

.cursor-hover {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1100;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}

/* Dimming effect */
body.search-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 500;
}

.navbar-hidden {
  transform: translateY(-200%);
  pointer-events: none;
}
