@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  background-color: #fbeaeb;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  color: #1b1b1b;
  cursor: none !important;
}
h1,
h2,
h3 {
  font-family: "Young Serif", serif;
  /* font-size: 56px; */
}
/* h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
  */
h4,
h5,
h6 {
  /* font-size: 32px; */
  letter-spacing: -4%;
}
/* h5 {
  font-size: 24px;
  letter-spacing: 0%;
} */
h6 {
  /* font-size: 20px; */
  letter-spacing: -3%;
}
/* p {
  font-size: 16px;
}  */

/* @media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
} */

/* .cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline {
  width: 45px;
  height: 45px;
  border: 2px solid grey;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
} */

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #2f3c7e;
}

.cursor-outline {
  width: 25px;
  height: 25px;
  border: 2px solid #2f3c7e2c;
  box-shadow: rgba(47, 60, 126, 0.4) 0px 40px 90px 30px;
  transform: translate(-50%, -50%);
  transition: all 0.7s ease-out;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
}

.cursor-hover {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1001;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}
